# 031 문자열 합치기

In [1]:
#아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)
# 34

34

# 032 문자열 곱하기

In [2]:
# 아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)
# HiHiHi

HiHiHi

# 033 문자열 곱하기

In [3]:
# 화면에 '-'를 80개 출력하세요.

print("-" * 80)

--------------------------------------------------------------------------------

# 034 문자열 곱하기

In [5]:
t1 = 'python'
t2 = 'java'

t3 = t1 + ' ' + t2 + ' '
print(t3* 4)

python java python java python java python java

# 035 문자열 출력

In [2]:
#변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 
# % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))

이름: 김민수 나이: 10

# 036 문자열 출력

In [3]:
# 문자열 format() 메서드를 사용해서 035번 문제를 푸세요

print("이름: {} 나이: {}".format(name1, age1))

이름: 김민수 나이: 10

# 037 문자열 출력

In [4]:
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

print(f"이름: {name1} 나이: {age1}")

이름: 김민수 나이: 10

# 038 컴마 제거하기

In [6]:
# 삼성전자의 상장주식수가 다음과 같습니다. 
# 컴마를 제거한 후 이를 정수 타입으로 변환해보세요


상장주식수 = "5,969,782,550"

상장주식수 = 상장주식수.replace(",", "")
print(int(상장주식수))

5969782550

# 039 문자열 슬라이싱

In [9]:
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

# 040 strip 메서드

In [11]:
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
data = data.strip()
print(data)

삼성전자