# 011 변수 사용하기

In [2]:
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 
# 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsung = 50000
총평가금액 = samsung * 10
print(총평가금액)

500000

# 012 변수 사용하기

In [4]:
# 다음 표는 삼성전자의 일부 투자정보입니다. 
# 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 298
현재가 = 50,000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298 <class 'int'>
(50, 0) <class 'tuple'>
15.79 <class 'float'>

# 013 문자열 출력

In [6]:
s = "hello"
t = "python"

print(s+"!",t)

hello! python

# 014 파이썬을 이용한 값 계산

In [7]:
# 아래 코드의 실행 결과를 예상해보세요.
# 2 + 2 * 3

print(2+2*3)
# 8

8

# 015 type 함수

In [9]:
# type() 함수는 데이터 타입을 판별합니다. 
# 변수 a에는 128 숫자가 바인딩돼 있어 
# type 함수가 int (정수)형임을 알려줍니다.

a = "132"

print(type(a))

<class 'str'>

# 016 문자열을 정수로 변환

In [10]:
# 문자열 '720'를 정수형으로 변환해보세요.

num_str = "720"

num_int = 720

print(type(num_str))
print(type(num_int))

<class 'str'>
<class 'int'>

# 017 정수를 문자열 100으로 변환

In [11]:
num = 100

result = str(num)

print(result, type(result))

100 <class 'str'>

# 018 문자열을 실수로 변환

In [12]:
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

num_str = "15.79"

result = float(num_str)

print(result, type(result))

15.79 <class 'float'>

# 019 문자열을 정수로 변환

In [14]:
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 
# 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

result = int(year)

print(result -3)
print(result -2)
print(result -1)

2017
2018
2019

# 020 파이썬 계산

In [17]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

air_month = 48584

result = 48584*36

print(result)

1749024